@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
body, html {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 1200px) {
    .container {
        width: 960px;
    }
}

h1 {
    font-weight: 700;
    font-size: 46px;
}

h2 {
    text-transform: uppercase;
    font-size: 20px;
}

h3 {
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: 26px;
}

h4 {
    text-transform: uppercase;
    font-size: 16px;
    word-spacing: 2px;
}

h5 {
    text-transform: uppercase;
    font-size: 12px;
    word-spacing: 2px;
}

h6 {
    text-transform: uppercase;
    font-size: 10px;
    word-spacing: 2px;
    letter-spacing: 2px;
}

p {
    font-weight: 400;
}

hr {
    width: 50px;
    border-color: #c59a6d;
}

a {
    color: #222222
}

a:hover, a:focus {
    color: #c59a6d;
    text-decoration: none;
}

i {
    color: white;
    font-size: 10em;
    text-shadow: 4px 2px black;
}

i:hover {
    color: #c59a6d;
}

.devicon-javascript-plain {
    font-size: 9em;
}

#home {
    background: url(../img/pw_maze_black_2X.png) left top repeat;
    min-height: 500px;
    padding-top: 60px;
    color: #ffffff;
}

#home a.down-btn span.fa.fa-angle-down {
    font-size: 26px;
    border-radius: 2px;
    padding: 7px 5px;
    position: relative;
    margin-top: 100px;
    color: #ffffff;
    cursor: pointer;
}

.content {
    padding-top: 16%;
}

.header-text.btn {
    border: 1px solid #ffffff;
    border-radius: 0;
    padding: 10px 30px;
    height: 100px;
}

.header-text.btn:hover {
    color: inherit;
}

.header-text.btn:focus, .header-text.btn:active:focus, .header-text.btn.active:focus, .header-text.btn.focus, .header-text.btn:active.focus, .header-text.btn.active.focus {
    outline: thin dotted transparent;
    outline: none;
    outline-offset: -2px;
}

.typed-cursor {
    opacity: 1;
    padding: 10px 2px;
    background: #ffffff;
    margin: 10px;
    -webkit-animation: blink 0.5s linear infinite;
    -moz-animation: blink 0.5s linear infinite;
    animation: blink 0.5s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

span.typed-cursor {
    top: -5px;
    position: relative;
}

.add-margin {
    margin-top: 200px;
}

a.down-btn span.fa.fa-angle-down {
    font-size: 26px;
    border: 1px solid #c59a6d;
    border-radius: 2px;
    padding: 7px 5px;
    position: relative;
    cursor: pointer;
    color: #c59a6d;
    margin-top: 30px;
}

.service {
    border: 1px solid #222;
    margin-top: 20px;
    margin-bottom: 0px;
    transition: all 0.3s;
    position: relative;
    padding: 60px 25px;
}

.service:hover>h4, .service:hover>span.fa {
    color: #c59a6d;
}

.service:hover {
    border-color: #c59a6d;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
    padding-top: 80px;
    padding-bottom: 80px;
}

.service p {
    font-size: 14px;
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
}

.space {
    padding-top: 40px;
}

#cta {
    background: url(../img/layers_4k.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 4% 0;
    color: white;
    text-shadow: 2px 2px black;
}

a.btn.go-to-btn {
    text-transform: uppercase;
    border: 1px solid #c59a6d;
    word-spacing: 2px;
    padding: 7px 30px;
    border-radius: 2px;
    font-size: 12px;
    color: #ffffff;
    transition: all 0.5s;
}

a.btn.go-to-btn:hover {
    background: #c59a6d;
    color: #282f35;
}

.nopadding {
    padding: 0;
    margin: 0;
}

.portfolio-item .hover-bg {
    height: 280px;
    overflow: hidden;
    position: relative;
}

.hover-bg .hover-text {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.66);
    padding: 30% 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
}

.hover-bg .hover-text>h5 {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: all 0.3s;
}

.hover-bg:hover .hover-text>h5 {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.hover-bg .hover-text>.hline {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: all 0.3s;
}

.hover-bg:hover .hover-text>.hline {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.hover-bg:hover .hover-text {
    opacity: 1;
}

.hline {
    height: 5px;
    width: 30px;
    border-top: 2px solid #f1f1f1;
    margin: 0 auto
}

.hover-text p.lead {
    color: #c59a6d;
}

a.btn.read-more-btn {
    text-transform: uppercase;
    background: #c59a6d;
    color: #282f35;
    word-spacing: 2px;
    padding: 7px 30px;
    border-radius: 2px;
    font-size: 12px;
    color: #ffffff;
    transition: all 0.5s;
}

a.btn.read-more-btn:hover {
    background: #222222;
    color: #ffffff;
}

a.btn.send-btn {
    text-transform: uppercase;
    background: #c59a6d;
    color: #282f35;
    padding: 15px 35px;
    border-radius: 0;
    font-size: 12px;
    color: #ffffff;
    transition: all 0.5s;
}

a.btn.send-btn:hover {
    background: transparent;
    border: 1px solid #c59a6d;
    color: #ffffff;
}

#clients {
    background: url(../img/lava_4k.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

#clients .overlay {
    background: rgba(34, 34, 34, 0.85);
    padding: 5% 0;
    color: #ffffff;
}

ul, ol {
    padding: 0;
    moz-padding: 0;
    webkit-padding: 0;
}

ul.clients li {
    display: inline-block;
    padding: 20px 30px;
    vertical-align: middle;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 10px;
    height: 10px;
    margin: 2px 5px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 0;
    background: #C59A6D;
}

#contact {
    background: url(../img/pw_maze_black_2X.png) left top repeat;
    padding: 100px 0;
    color: #ffffff;
}

ul.social li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
}

ul.social li a {
    color: #ffffff;
    font-size: 16px;
}

address strong {
    text-transform: uppercase;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
}

address:before {
    content: "\f041";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #c59a6d;
    vertical-align: middle;
    margin-right: 15px;
    margin-left: -30px;
}

address {
    font-style: italic;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

#contact input.form-control, #contact textarea.form-control {
    margin-bottom: 30px;
}

#contact .form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 7px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color: #1e2429;
    background-image: none;
    border: 0;
    border-top: 2px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    transition: all 0.5s;
}

#contact .form-control:focus {
    border-color: #C59A6D;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #222222;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-style: italic;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #222222;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-style: italic;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #222222;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-style: italic;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #222222;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-style: italic;
}

nav#footer {
    background: url(../img/pw_maze_black_2X.png) left top repeat;
    padding: 40px 0;
    color: #ffffff;
    border-bottom: 5px solid #c59a6d;
}

#footer span.fa {
    color: #c59a6d;
    font-size: 26px;
    margin-left: 10px;
}

#footer a {
    color: #ffffff;
}

#footer a:hover {
    color: #c59a6d;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
    }
}


/**/

.navbar-default {
    background: url(../img/pw_maze_black_2X.png) left top repeat;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    color: #c59a6d;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
    color: white;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
    outline: 0;
    color: white;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: white;
    background-color: transparent;
    border: 1px solid #c59a6d;
}

.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: white;
    background-color: transparent;
    border: 1px solid #c59a6d;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }
    .navbar-default.navbar-shrink {
        padding: 10px 0;
        border: 0;
        background: url(../img/pw_maze_black_2X.png) left top repeat;
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

@media(max-width:767px) {
    .navbar-default {
        background-color: transparent;
        transition: all 100ms;
        border: 0;
    }
    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #282f35;
    }
    .collapse.navbar-collapse {
        transition: all 500ms;
        border: 0;
    }
    .collapse.navbar-collapse.in {
        background: url(../img/pw_maze_black_2X.png) left top repeat;
    }
    .navbar-default .navbar-nav>.active>a {
        border: none;
    }
    .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
        border: none;
    }
    .navbar-default .navbar-toggle {
        border-color: transparent;
    }
}

.typed-cursor {
    opacity: 1;
    font-weight: 50;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
