/*** GENERAL ***/

body, html {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 46px;
}

h2 {
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 6px;
}

h3 {
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: 26px;
}

h4 {
    text-transform: uppercase;
    font-size: 18px;
    word-spacing: 2px;
}

h5 {
    text-transform: uppercase;
    font-size: 12px;
    word-spacing: 2px;
}

h6 {
    text-transform: uppercase;
    font-size: 10px;
    word-spacing: 2px;
    letter-spacing: 2px;
}

p {
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 50px;
}

hr {
    width: 30%;
    border: 1px solid #c59a6d;
}

a {
    color: #222222
}

a:hover, a:focus {
    color: #c59a6d;
    text-decoration: none;
}

i {
    color: white;
    font-size: 10em;
    text-shadow: 4px 2px black;
    cursor: pointer;
    font-weight: 100;
}

i:hover {
    color: #c59a6d;
}

.devicon-javascript-plain {
    font-size: 9em;
}


/*** END ***/


/*** HOME SECTION ***/

#home {
    background: url(../img/pw_maze_black_2X.png) left top repeat;
    background-position: 0px 0px;
    min-height: 550px;
    padding-top: 60px;
    color: #ffffff;
    background-attachment: fixed;
}

#home a.down-btn span.fa.fa-angle-down {
    font-size: 26px;
    border-radius: 2px;
    padding: 7px 5px;
    position: relative;
    margin-top: 100px;
    color: #ffffff;
    cursor: pointer;
}

.content {
    padding-top: 8%;
}


/*** END ***/


/*** HEADER ***/

.header-text.btn {
    border: 1px solid #ffffff;
    border-radius: 0;
    padding: 10px 30px;
    height: 100px;
}

.header-text.btn:hover {
    color: inherit;
}

.header-text.btn:focus, .header-text.btn:active:focus, .header-text.btn.active:focus, .header-text.btn.focus, .header-text.btn:active.focus, .header-text.btn.active.focus {
    outline: thin dotted transparent;
    outline: none;
    outline-offset: -2px;
}

.navbar-default {
    background: url(../img/pw_maze_black_2X.png) left top repeat;
      background-position: 0px 0px;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    color: #c59a6d;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
    color: white;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
    outline: 0;
    color: white;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: white;
    background-color: transparent;
    border: 1.5px solid #c59a6d;
}

.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: white;
    background-color: transparent;
    border: 1.5px solid #c59a6d;
}


/*** END ***/


/*** SERVICES SECTION ***/

#services {
    padding: 8% 0;
    background: #e5e5e5;
}

.service {
    transition: all 0.5s;
    font-size: 15px;
}

.service:hover>h4, .service:hover>span.fa {
    color: #c59a6d;
    cursor: pointer;
}

.service i {
    text-shadow: none !important;
    color: black !important;
    font-size: 5.5em !important;
    cursor: pointer;
}

.service h4 {
    padding: 1% 0 0 0;
    margin-top: 1% !important;
    margin-right: 1% !important;
    font-weight: 500;
    transition: all 300ms;
}

.space {
    padding-top: 40px;
}

.fa {
    transition: all 300ms;
}

.fa-mobile {
    margin-right: 30px;
}

.fa-laptop {
    margin-left: 30px;
}

.fa-tablet {
    margin-left: 10px;
}


/*** END ***/


/*** TECH SECTION ***/

#clients {
    background: url(../img/pw_maze_black_2X.png) right top repeat;
    background-attachment: fixed;
    text-align: center;
}

#clients i {
    transition: ease-in-out 200ms;
}

#clients .overlay {
    padding: 8% 0;
    color: #ffffff;
}

ul, ol {
    padding: 0;
    moz-padding: 0;
    webkit-padding: 0;
}

ul.clients li {
    display: inline-block;
    padding: 15px 50px;
    vertical-align: middle;
}


/*** END  ***/


/*** CONTACT SECTION ***/

#contact {
    background: url(../img/bg4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10% 0;
    color: white;

}

address h4 {
    display: inline-block;
}

address {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2.5px;
    font-weight: 600;
}

address i {
    font-size: 2em !important;
    color: #c59a6d;
    position: relative;
    top: 5px;
    right: 10px;
    transition: all 300ms;
}

address i:hover {
    transform: scale(1.3);
}


/*** END  ***/


/*** SECTION FOOTER ***/

nav#footer {
    background: url(../img/pw_maze_black_2X.png) left top repeat;
    padding: 20px 0 0 0;
    color: #ffffff;
    font-size: 20px;
}

#footer span.fa {
    color: #c59a6d;
    font-size: 26px;
    margin-left: 10px;
}

#footer a {
    color: #ffffff;
}

#footer a:hover {
    color: #c59a6d;
}

#footer p {
    padding: 20px 0 0 0;
    margin-left: 10px;
    margin-bottom: 1px !important;
}

#footer ul {
    margin: 0;
    padding: 0;
}

#footer li {
    display: inline-block;
    list-style: none;
    padding: 15px 0 0 0;
    margin: 5px 10px;
}

#footer i {
    font-size: 1em !important;
}

#footer a {
    text-decoration: underline;
    cursor: pointer;
}

#mail {
    color: #c59a6d;
    font-size: 3.5em;
    text-shadow: 4px 2px black;
}

.fa-angle-up {
    margin-top: -50px !important;
    font-size: 40px !important;
    position: relative;
    top: 20px;
}

.lenguages {
    font-size: 0.8em;
}


/*** END ***/


/* TYPED.JS */

span.typed-cursor {
    top: -3px;
    position: relative;
}

.typed-cursor {
    opacity: 1;
    font-size: 0.8em;
    font-weight: 50;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}


/* END */


/*** OTHERS ***/

.row-no-margin {
    margin-bottom: -200px !important;
}

.add-margin {
    margin-top: 200px;
}

.little-br {
    margin-bottom: -20px !important;
}
