:root {
    --color-principal: #c59a6d;
    --color-secundario: #fff
}

body,
html {
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif
}

h1 {
    font-weight: 700;
    font-size: 46px
}

h2 {
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 6px
}

h3 {
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: 26px
}

h4 {
    text-transform: uppercase;
    font-size: 18px;
    word-spacing: 2px
}

h5 {
    text-transform: uppercase;
    font-size: 12px;
    word-spacing: 2px
}

h6 {
    text-transform: uppercase;
    font-size: 10px;
    word-spacing: 2px;
    letter-spacing: 2px
}

p {
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 50px
}

hr {
    width: 30%!important;
    border: 1.5px solid #A47645
}

a {
    color: #222
}

a:hover,
a:focus {
    color: var(--color-principal);
    text-decoration: none
}

i {
    color: var(--color-secundario);
    font-size: 10em;
    font-weight: 100
}

#home {
    background: url(../img/bg3.jpg) left top repeat;
    background-position: 0 0;
    height: 950px !important;
    padding-top: 60px;
    color: var(--color-secundario);
    background-attachment: fixed;
    text-shadow: 1px 1px #000
}

#home span.fa.fa-angle-down {
    font-size: 26px;
    border-radius: 2px;
    padding: 7px 5px;
    position: relative;
    margin-top: 100px;
    color: #A47645;
    cursor: pointer
}

#home i {
    font-size: 5em;
    color: var(--color-principal);
    margin-top: 400px;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite
}

.content {
    padding-top: 8%
}

.header-text {
    color: var(--color-secundario);
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    border-radius: 0;
    padding: 10px 30px;
    height: 100px;
    text-shadow: 0 2px 17px #050000;
    letter-spacing: 2px
}

.header-text:hover {
    color: inherit
}

.navbar-default {
    background: url(../img/bg3.jpg) left top repeat;
    border: 5px solid transparent!important;
    box-shadow: none
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: 5px solid transparent;
    border: 0
}

.navbar-default .navbar-brand {
    font-family: "Quicksand", "Kaushan Script", Helvetica, Arial, cursive;
    font-weight: 300;
    color: var(--color-principal)
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: var(--color-secundario)
}

.navbar-default .navbar-collapse {
    border: 5px solid transparent!important
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: var(--color-secundario)
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: transparent
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    color: var(--color-secundario)
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: var(--color-secundario)
}

.navbar-default .navbar-nav>.active>a {
    color: var(--color-secundario);
    background-color: transparent;
    border-bottom: 3px solid #A47645
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: var(--color-secundario);
    background-color: transparent;
    border-bottom: 3px solid #A47645
}

#services {
    padding: 8% 0 !important;
    background: #e5e5e5
}

.service {
    -webkit-transition: all 300ms;
    transition: all 300ms;
    font-size: 15px
}

.service i {
    text-shadow: 1px 1px 4px #8F8F8F!important;
    color: #000!important;
    font-size: 5.5em!important;
    margin: 3%;
    cursor: pointer
}

.service h4 {
    padding: 1% 0 0;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1%!important;
    margin-right: 1%!important;
    font-weight: 500;
    text-shadow: 0 0 rgba(0, 0, 0, 0)
}

.service:hover {
    color: #835525;
    cursor: pointer
}

.service ul {
    display: inline-block;
    list-style: none
}

.space {
    padding-top: 40px
}

.fa {
    -webkit-transition: all 300ms;
    transition: all 300ms
}

#clients {
    background: #e5e5e5;
    text-align: center
}

#clients i {
    text-shadow: 1px 3px 6px #8F8F8F;
    -webkit-transition: color linear 350ms;
    transition: color linear 350ms;
    color: #000
}

#clients i:hover {
    color: #835525
}

#clients .overlay {
    padding: 8% 0 6%;
    color: #000
}

.devicon-bootstrap-plain,
.devicon-javascript-plain,
.devicon-jquery-plain-wordmark {
    font-size: 8em
}

ul,
ol {
    padding: 0;
    moz-padding: 0;
    webkit-padding: 0
}

ul.clients li {
    display: inline-block;
    padding: 2% 4%;
    vertical-align: middle
}

.midsection {
    background: url(../img/bg3.jpg) left top repeat;
    background-position: 0 0;
    height: 500px;
    color: var(--color-secundario);
    background-attachment: fixed;
    display: flex;
    align-items: center
}

#contact {
    background: url(../img/bg3.jpg) left top repeat;
    background-position: 0 0;
    background-attachment: fixed;
    padding: 6% 0 0;
    color: var(--color-secundario)
}

address h4 {
    display: inline-block
}

address {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2.5px;
    font-weight: 600
}

address i {
    font-size: 1.5em!important;
    position: relative;
    color: var(--color-principal);
    top: 5px;
    right: 5px;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    text-shadow: 2px 2px #000;
    cursor: pointer
}

.socialList {
    list-style: none;
    margin: 30px 0 50px
}

.socialList li {
    display: inline
}

.socialList i {
    color: #fff
}

.fa-google-plus {
    border-left: 3px solid var(--color-principal);
    padding: 0 3%
}

.fa-facebook-official {
    border-left: 3px solid var(--color-principal);
    padding: 0 3%
}

.fa-twitter {
    border-left: 3px solid var(--color-principal);
    padding: 0 3%
}

.fa-github {
    border-left: 3px solid var(--color-principal);
    padding: 0 3%;
    border-right: 3px solid var(--color-principal)
}

.fa-facebook-official:hover {
    color: #3b5998
}

.fa-twitter:hover {
    color: #00aced
}

.fa-google-plus:hover {
    color: #dd4b39
}

.fa-github:hover {
    color: #f60
}

#mail {
    font-family: 'Montserrat', sans-serif;
    color: #A47645;
    font-size: 3.5em;
    text-shadow: 6px 2px #000
}

.fa-angle-double-up {
    color: #A47645;
    margin-top: 20px;
    position: relative;
    top: -px
}

span.typed-cursor {
    top: -3px;
    position: relative
}

.typed-cursor {
    opacity: 1;
    font-family: 'Roboto';
    font-size: .8em;
    font-weight: 100;
    -webkit-animation: blink .8s infinite;
    animation: blink .8s infinite
}

.row-no-margin {
    margin-bottom: -200px!important
}

.add-margin {
    margin-top: 100px
}

.little-br {
    margin-bottom: -20px!important
}

.devicon-chrome-plain,
.devicon-firefox-plain,
.devicon-ie10-original {
    margin: 0 2px!important;
    font-size: 41em!important
}

.header-text {
    -webkit-transition: all 300ms;
    transition: all 300ms
}

.fa-angle-double-up {
    -webkit-animation: bounceUp 3s infinite;
    animation: bounceUp 3s infinite
}