@media only screen and (max-width: 608px) {
    nav#menu span.fa.fa-bars {
        left: 60px;
    }
    .header-text.btn {
        height: auto;
        white-space: inherit;
    }
    .hover-bg .hover-text {
        padding: 15% 0;
    }
}

@media only screen and (max-width: 460px) {
    h3 {
        font-size: 12px;
    }
    nav#menu span.fa.fa-bars {
        left: 30px;
    }
    .content {
        padding-top: 30%;
    }
    .hover-bg .hover-text {
        padding: 20% 0;
    }
    #overview-video .overlay {
        padding: 30% 0px;
    }
}

@media only screen and (max-width: 360px) {
    h1 {
        font-size: 36px;
    }
    h3 {
        font-size: 11px;
    }
    hover-bg .hover-text {
        padding: 25% 0px;
    }
    .pull-left, .pull-right {
        float: none !important;
        text-align: center;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 30px;
    }
    hover-bg .hover-text {
        padding: 30% 0px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 960px;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
    }
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }
    .navbar-default.navbar-shrink {
        padding: 10px 0;
        border: 0;
        background: url(../img/pw_maze_black_2X.png) left top repeat;
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

@media(max-width:767px) {
    .navbar-default {
        background-color: transparent;
        transition: all 100ms;
        border: 0;
    }
    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #282f35;
    }
    .collapse.navbar-collapse {
        transition: all 500ms;
        border: 0;
    }
    .collapse.navbar-collapse.in {
        background: url(../img/pw_maze_black_2X.png) left top repeat;
    }
    .navbar-default .navbar-nav>.active>a {
        border: none;
    }
    .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
        border: none;
    }
    .navbar-default .navbar-toggle {
        border-color: transparent;
    }
    i {
        font-size: 5em !important;
    }
    h1 {
        font-size: 30px !important;
    }
    h4 {
        font-size: 16px;
    }
    .service i {
        font-size: 3em !important;
    }
    label {
        font-size: 3em !important;
    }
}


}
@media(max-width:550px) {
    label {
        font-size: 20px !important;
    }
}
@media(max-width:990px) {
    label {
        font-size: 4em !important;
    }

    i {
        font-size: 7em !important;
    }
}
@media(max-width:730px) {
    label {
        font-size: 2em !important;
    }
}
