#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_1 {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rich_text_2 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(238,238,238,0.0);
  -ms-transform: rotate(0.0deg);
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Table_1 {
  border-collapse: separate;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Line_7 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Line_7 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_29 {
  -ms-transform: rotate(0.0deg);
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_2 {
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Ellipse_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Line_1 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Line_1 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(0.0deg);
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Ellipse_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Line_2 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Line_2 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Ellipse_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}