#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}