#s-08d180e8-2472-44f1-b0d4-adc934b642d6 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: rgba(217,217,217,0.0);
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FF9900;
  box-shadow: none;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_1 {
  position: absolute;
  width: 242px;
  height: 226px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_1 > .clipping, #s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_1 > .paddingLayer {
  height: 222px;
  width: 238px;
  padding-top: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Image_2 {
  position: absolute;
  width: 112px;
  height: 111px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Image_2 > img, #s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Image_2 > svg {
  height: 111px;
  width: 112px;
  box-shadow: none;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Input_7 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Input_7 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Input_7 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Input_7 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Input_7 {
  position: absolute;
  width: 324px;
  height: 34px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Input_7 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Input_7 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 17px 17px 17px 17px;
  box-shadow: none;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Input_7 > .paddingLayer {
  height: 14px;
  width: 299px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Category_1 > .dropdown-options {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  left: 0px;
  top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Category_1 {
  position: absolute;
  width: 150px;
  height: 32px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Category_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Category_1 > .paddingLayer {
  height: 26px;
  width: 136px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 11px;
  padding-right: 3px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Image_3 {
  position: absolute;
  width: 125px;
  height: 120px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Image_3 > img, #s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Image_3 > svg {
  height: 120px;
  width: 125px;
  box-shadow: none;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rich_text_2 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(238,238,238,0.0);
  box-shadow: none;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rich_text_2 {
  position: absolute;
  width: 281px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 53px;
  font-size: 28.0pt;
  font-family: 'Lato SemiBold',Arial;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rich_text_2 > .clipping, #s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rich_text_2 > .paddingLayer {
  height: 54px;
  width: 281px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rich_text_2 span {
  color: #FF9900;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato SemiBold',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 600;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #FF9900;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato SemiBold',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rich_text_2 span#rtr-s-Rich_text_2_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato SemiBold',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rich_text_2 span#rtr-s-Rich_text_2_2 {
  color: #FF9900;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato SemiBold',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Group_1 {
  position: absolute;
  width: 329px;
  height: 37px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Table_1 {
  position: absolute;
  width: 329px;
  height: 37px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Table_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Table_1 > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_cell_1 {
  width: 79px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  text-shadow: none;
  cursor: pointer;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_cell_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_cell_4 {
  width: 100px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  cursor: pointer;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_cell_4 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_cell_7 {
  width: 150px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  cursor: pointer;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_cell_7 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Line_7 {
  position: absolute;
  width: 59px;
  height: 6px;
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#shapewrapper-s-Line_7 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 36.0pt;
  font-family: 'Roboto-Thin',Arial;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_2 > .clipping, #s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 36.0pt;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 36.0pt;
  line-height: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Image_1 {
  position: absolute;
  width: 164px;
  height: 156px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Image_1 > img, #s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Image_1 > svg {
  height: 156px;
  width: 164px;
  box-shadow: none;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Image_4 {
  position: absolute;
  width: 164px;
  height: 156px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Image_4 > img, #s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Image_4 > svg {
  height: 156px;
  width: 164px;
  box-shadow: none;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 25.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_3 > .clipping, #s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_3 span {
  color: #FF9900;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 25.0pt;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FF9900;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 25.0pt;
  line-height: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 25.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_4 > .clipping, #s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_4 span {
  color: #FF9900;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 25.0pt;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FF9900;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 25.0pt;
  line-height: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_29 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_29 {
  position: absolute;
  width: 1024px;
  height: 102px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_29 > .clipping, #s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_29 > .paddingLayer {
  height: 102px;
  width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_29 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_29 span#rtr-s-Rectangle_29_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_8 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Lato Black',Arial;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_8 > .clipping, #s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_8 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato Black',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 900;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato Black',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 900;
  line-height: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: rgba(217,217,217,0.0);
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  box-shadow: none;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_2 {
  position: absolute;
  width: 242px;
  height: 226px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_2 > .clipping, #s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_2 > .paddingLayer {
  height: 222px;
  width: 238px;
  padding-top: 0px;
  padding-bottom: 4px;
  padding-left: 0px;
  padding-right: 4px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 36px;
  height: 36px;
  position: absolute;
  overflow: hidden;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Ellipse_1 .content {
  width: 36px;
  height: 36px;
}
#shapewrapper-s-Ellipse_1 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Ellipse_1 {
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #FF9900;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  padding-bottom: 2px;
  line-height: 23px;
  font-size: 15.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #shapewrapper-s-Ellipse_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 15.0pt;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Line_1 {
  position: absolute;
  width: 115px;
  height: 4px;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#shapewrapper-s-Line_1 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 36px;
  height: 36px;
  position: absolute;
  overflow: hidden;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Ellipse_2 .content {
  width: 36px;
  height: 36px;
}
#shapewrapper-s-Ellipse_2 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Ellipse_2 {
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #666666;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  padding-bottom: 2px;
  line-height: 23px;
  font-size: 15.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #shapewrapper-s-Ellipse_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 15.0pt;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Line_2 {
  position: absolute;
  width: 118px;
  height: 4px;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#shapewrapper-s-Line_2 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 36px;
  height: 36px;
  position: absolute;
  overflow: hidden;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Ellipse_3 .content {
  width: 36px;
  height: 36px;
}
#shapewrapper-s-Ellipse_3 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #s-Ellipse_3 {
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #666666;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  padding-bottom: 2px;
  line-height: 23px;
  font-size: 15.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #shapewrapper-s-Ellipse_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 15.0pt;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-08d180e8-2472-44f1-b0d4-adc934b642d6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}