#s-106e3858-52cf-461d-9c2c-edd6aee41dfa > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Image_2 {
  position: absolute;
  width: 112px;
  height: 111px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Image_2 > img, #s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Image_2 > svg {
  height: 111px;
  width: 112px;
  box-shadow: none;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Input_7 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Input_7 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Input_7 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Input_7 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Input_7 {
  position: absolute;
  width: 324px;
  height: 34px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Input_7 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Input_7 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 17px 17px 17px 17px;
  box-shadow: none;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Input_7 > .paddingLayer {
  height: 14px;
  width: 299px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Category_1 > .dropdown-options {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  left: 0px;
  top: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Category_1 {
  position: absolute;
  width: 150px;
  height: 32px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Category_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Category_1 > .paddingLayer {
  height: 26px;
  width: 136px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 11px;
  padding-right: 3px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Image_3 {
  position: absolute;
  width: 125px;
  height: 120px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Image_3 > img, #s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Image_3 > svg {
  height: 120px;
  width: 125px;
  box-shadow: none;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rich_text_2 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(238,238,238,0.0);
  box-shadow: none;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rich_text_2 {
  position: absolute;
  width: 281px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 53px;
  font-size: 28.0pt;
  font-family: 'Lato SemiBold',Arial;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rich_text_2 > .clipping, #s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rich_text_2 > .paddingLayer {
  height: 54px;
  width: 281px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rich_text_2 span {
  color: #FF9900;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato SemiBold',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 600;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #FF9900;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato SemiBold',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rich_text_2 span#rtr-s-Rich_text_2_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato SemiBold',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rich_text_2 span#rtr-s-Rich_text_2_2 {
  color: #FF9900;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato SemiBold',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Table_1 {
  position: absolute;
  width: 329px;
  height: 37px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Table_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Table_1 > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_cell_1 {
  width: 79px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  text-shadow: none;
  cursor: pointer;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_cell_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_cell_4 {
  width: 100px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  cursor: pointer;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_cell_4 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_cell_7 {
  width: 150px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  cursor: pointer;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_cell_7 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Group_2 {
  position: absolute;
  width: 1024px;
  height: 466px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  box-shadow: none;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rectangle_1 {
  position: absolute;
  width: 1024px;
  height: 466px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rectangle_1 > .clipping, #s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rectangle_1 > .paddingLayer {
  height: 466px;
  width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 36.0pt;
  font-family: 'Roboto-Thin',Arial;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_2 > .clipping, #s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 36.0pt;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 36.0pt;
  line-height: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_2 span#rtr-s-Text_2_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 36.0pt;
  line-height: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Button_12 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #FF9900;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: rgba(66,139,202,0.0);
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: rgba(66,139,202,0.0);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(66,139,202,0.0);
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: rgba(66,139,202,0.0);
  box-shadow: none;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Button_12 {
  position: absolute;
  width: 178px;
  height: 49px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Lato Medium',Arial;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Button_12 > .clipping, #s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Button_12 > .paddingLayer {
  height: 45px;
  width: 174px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Button_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Button_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Lato Medium',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 500;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Button_12 span#rtr-s-Button_12_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Lato Medium',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 500;
  line-height: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rectangle_29 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rectangle_29 {
  position: absolute;
  width: 1024px;
  height: 102px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rectangle_29 > .clipping, #s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rectangle_29 > .paddingLayer {
  height: 102px;
  width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rectangle_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rectangle_29 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rectangle_29 span#rtr-s-Rectangle_29_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_8 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Lato Black',Arial;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_8 > .clipping, #s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_8 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato Black',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 900;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato Black',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 900;
  line-height: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_6 {
  position: absolute;
  width: 10px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_6 > .clipping, #s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Group_1 {
  position: absolute;
  width: 460px;
  height: 21px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Label_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Label_1 {
  position: absolute;
  width: 442px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Label_1 > .clipping, #s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Label_1 > .paddingLayer {
  height: 21px;
  width: 442px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Label_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Label_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Label_1 span#rtr-s-Label_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Input_1 > input {
  left: 0px;
  top: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Input_1 {
  position: absolute;
  box-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Image_1 {
  position: absolute;
  width: 300px;
  height: 229px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Image_1 > img, #s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Image_1 > svg {
  height: 229px;
  width: 300px;
  box-shadow: none;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_7 {
  position: absolute;
  width: 146px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Lato Medium',Arial;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_7 > .clipping, #s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato Medium',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 500;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato Medium',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 500;
  line-height: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_7 span#rtr-s-Text_7_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato Medium',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 500;
  line-height: 0px;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}