#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rich_text_2 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(238,238,238,0.0);
  -ms-transform: rotate(0.0deg);
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Table_1 {
  border-collapse: separate;
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Button_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: rgba(66,139,202,0.0);
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: rgba(66,139,202,0.0);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(66,139,202,0.0);
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: rgba(66,139,202,0.0);
  -ms-transform: rotate(0.0deg);
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Rectangle_29 {
  -ms-transform: rotate(0.0deg);
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-106e3858-52cf-461d-9c2c-edd6aee41dfa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}