#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_2 {
  position: absolute;
  width: 112px;
  height: 111px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_2 > img, #s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_2 > svg {
  height: 111px;
  width: 112px;
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Input_7 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Input_7 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Input_7 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Input_7 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Input_7 {
  position: absolute;
  width: 324px;
  height: 34px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Input_7 input {
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Input_7 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 17px 17px 17px 17px;
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Input_7 > .paddingLayer {
  height: 14px;
  width: 299px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Category_1 > .dropdown-options {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  left: 0px;
  top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Category_1 {
  position: absolute;
  width: 150px;
  height: 32px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #555555;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Category_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Category_1 > .paddingLayer {
  height: 26px;
  width: 136px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 11px;
  padding-right: 3px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Rectangle_29 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Rectangle_29 {
  position: absolute;
  width: 1024px;
  height: 102px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Rectangle_29 > .clipping, #s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Rectangle_29 > .paddingLayer {
  height: 102px;
  width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Rectangle_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Rectangle_29 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Rectangle_29 span#rtr-s-Rectangle_29_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Text_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Text_8 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Lato Black',Arial;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Text_8 > .clipping, #s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Text_8 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato Black',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 900;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato Black',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 900;
  line-height: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_3 {
  position: absolute;
  width: 125px;
  height: 120px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_3 > img, #s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_3 > svg {
  height: 120px;
  width: 125px;
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Rich_text_2 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(238,238,238,0.0);
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Rich_text_2 {
  position: absolute;
  width: 281px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 53px;
  font-size: 28.0pt;
  font-family: 'Lato SemiBold',Arial;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Rich_text_2 > .clipping, #s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Rich_text_2 > .paddingLayer {
  height: 54px;
  width: 281px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Rich_text_2 span {
  color: #FF9900;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato SemiBold',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 600;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #FF9900;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato SemiBold',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Rich_text_2 span#rtr-s-Rich_text_2_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato SemiBold',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Rich_text_2 span#rtr-s-Rich_text_2_2 {
  color: #FF9900;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato SemiBold',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Group_1 {
  position: absolute;
  width: 498px;
  height: 42px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Table_1 {
  position: absolute;
  width: 329px;
  height: 37px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Table_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Table_1 > table {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Text_cell_1 {
  width: 79px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  text-shadow: none;
  cursor: pointer;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Text_cell_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Text_cell_4 {
  width: 100px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  cursor: pointer;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Text_cell_4 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Text_cell_7 {
  width: 150px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  cursor: pointer;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Text_cell_7 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Line_1 {
  position: absolute;
  width: 1px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #0070B1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #shapewrapper-s-Line_1 {
  display: none;
}
#shapewrapper-s-Line_1 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Line_2 {
  position: absolute;
  width: 1px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #0070B1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #shapewrapper-s-Line_2 {
  display: none;
}
#shapewrapper-s-Line_2 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Line_3 {
  position: absolute;
  width: 1px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #0070B1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #shapewrapper-s-Line_3 {
  display: none;
}
#shapewrapper-s-Line_3 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Line_4 {
  position: absolute;
  width: 1px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #0070B1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #shapewrapper-s-Line_4 {
  display: none;
}
#shapewrapper-s-Line_4 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Line_5 {
  position: absolute;
  width: 1px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #0070B1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #shapewrapper-s-Line_5 {
  display: none;
}
#shapewrapper-s-Line_5 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Line_7 {
  position: absolute;
  width: 43px;
  height: 6px;
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#shapewrapper-s-Line_7 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Line_8 {
  position: absolute;
  width: 67px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #0070B1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#shapewrapper-s-Line_8 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Line_9 {
  position: absolute;
  width: 35px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #0070B1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#shapewrapper-s-Line_9 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Line_10 {
  position: absolute;
  width: 62px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #0070B1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#shapewrapper-s-Line_10 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Line_11 {
  position: absolute;
  width: 64px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #0070B1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#shapewrapper-s-Line_11 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Line_12 {
  position: absolute;
  width: 57px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #0070B1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#shapewrapper-s-Line_12 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Line_13 {
  position: absolute;
  width: 68px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#shapewrapper-s-Line_13 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Line_14 {
  position: absolute;
  width: 36px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#shapewrapper-s-Line_14 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Line_15 {
  position: absolute;
  width: 63px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#shapewrapper-s-Line_15 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Line_16 {
  position: absolute;
  width: 65px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#shapewrapper-s-Line_16 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Line_17 {
  position: absolute;
  width: 58px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#shapewrapper-s-Line_17 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Dynamic_Panel_1 {
  position: absolute;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Panel_1 {
  width: 1026px;
  height: 450px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 1026px;
  height: 450px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-G1 {
  position: absolute;
  width: 1026px;
  height: 452px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_4 {
  position: absolute;
  width: 1025px;
  height: 452px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_4 > img, #s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_4 > svg {
  height: 452px;
  width: 1025px;
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Paragraph_1 {
  position: absolute;
  width: 436px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 44px;
  font-size: 32.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Paragraph_1 > .clipping, #s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Paragraph_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 32.0pt;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 32.0pt;
  line-height: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_8 > svg {
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_8 {
  position: absolute;
  width: 61px;
  height: 79px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_8 > img, #s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_8 > svg {
  height: 79px;
  width: 61px;
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_13 > svg {
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_13 {
  position: absolute;
  width: 61px;
  height: 79px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_13 > img, #s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_13 > svg {
  height: 79px;
  width: 61px;
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Button_12 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #FF9900;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: rgba(66,139,202,0.0);
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: rgba(66,139,202,0.0);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(66,139,202,0.0);
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: rgba(66,139,202,0.0);
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Button_12 {
  position: absolute;
  width: 158px;
  height: 49px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Lato Medium',Arial;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Button_12 > .clipping, #s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Button_12 > .paddingLayer {
  height: 45px;
  width: 154px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Button_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Button_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Lato Medium',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 500;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Button_12 span#rtr-s-Button_12_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Lato Medium',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 500;
  line-height: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Panel_2 {
  width: 1280px;
  height: 450px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Panel_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Panel_2 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 450px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-G2 {
  position: absolute;
  width: 1280px;
  height: 450px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_5 {
  position: absolute;
  width: 1280px;
  height: 450px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_5 > img, #s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_5 > svg {
  height: 450px;
  width: 1280px;
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Paragraph_2 {
  position: absolute;
  width: 543px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 44px;
  font-size: 32.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Paragraph_2 > .clipping, #s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Paragraph_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 32.0pt;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 32.0pt;
  line-height: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_9 > svg {
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_9 {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_9 > img, #s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_9 > svg {
  height: 100px;
  width: 100px;
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_10 > svg {
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_10 {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_10 > img, #s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_10 > svg {
  height: 100px;
  width: 100px;
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Panel_3 {
  width: 1280px;
  height: 450px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Panel_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Panel_3 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 450px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-G3 {
  position: absolute;
  width: 1280px;
  height: 450px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_6 {
  position: absolute;
  width: 1280px;
  height: 450px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_6 > img, #s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_6 > svg {
  height: 450px;
  width: 1280px;
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Paragraph_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Paragraph_3 {
  position: absolute;
  width: 543px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 44px;
  font-size: 32.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Paragraph_3 > .clipping, #s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Paragraph_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Paragraph_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 32.0pt;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 32.0pt;
  line-height: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_11 > svg {
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_11 {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_11 > img, #s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_11 > svg {
  height: 100px;
  width: 100px;
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_12 > svg {
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_12 {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_12 > img, #s-51806f53-8f32-4f8b-9b22-b22ae6089d17 #s-Image_12 > svg {
  height: 100px;
  width: 100px;
  box-shadow: none;
}
#s-51806f53-8f32-4f8b-9b22-b22ae6089d17 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}