#s-939f091c-4ae4-49f2-8034-a8bc210c8080 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-939f091c-4ae4-49f2-8034-a8bc210c8080 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-939f091c-4ae4-49f2-8034-a8bc210c8080 #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-939f091c-4ae4-49f2-8034-a8bc210c8080 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-939f091c-4ae4-49f2-8034-a8bc210c8080 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-939f091c-4ae4-49f2-8034-a8bc210c8080 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-939f091c-4ae4-49f2-8034-a8bc210c8080 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-939f091c-4ae4-49f2-8034-a8bc210c8080 #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-939f091c-4ae4-49f2-8034-a8bc210c8080 #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-939f091c-4ae4-49f2-8034-a8bc210c8080 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-939f091c-4ae4-49f2-8034-a8bc210c8080 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}