#s-a1e5a52e-c6b0-45ad-94b5-13302ec80f26 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1e5a52e-c6b0-45ad-94b5-13302ec80f26 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1e5a52e-c6b0-45ad-94b5-13302ec80f26 #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1e5a52e-c6b0-45ad-94b5-13302ec80f26 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1e5a52e-c6b0-45ad-94b5-13302ec80f26 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1e5a52e-c6b0-45ad-94b5-13302ec80f26 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1e5a52e-c6b0-45ad-94b5-13302ec80f26 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1e5a52e-c6b0-45ad-94b5-13302ec80f26 #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1e5a52e-c6b0-45ad-94b5-13302ec80f26 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1e5a52e-c6b0-45ad-94b5-13302ec80f26 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1e5a52e-c6b0-45ad-94b5-13302ec80f26 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1e5a52e-c6b0-45ad-94b5-13302ec80f26 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1e5a52e-c6b0-45ad-94b5-13302ec80f26 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1e5a52e-c6b0-45ad-94b5-13302ec80f26 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1e5a52e-c6b0-45ad-94b5-13302ec80f26 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}